/* Created by: Mariam kasim
* Created on: Feb 2023
* This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: rgb(230 176 203);
}

p {
  background-color: rgb(158 121 201);
}

#myheader {
  background-color:
    rgb(246 92 151)
    color hsl(85% 67% 92%);
  padding: 40;
  text-align: center;
}
